@charset "utf-8"; 
@font-face {
      font-family: "Bebas Neue Regular";
      src: url("../fonts/bebas_neue/BebasNeueLight.otf")
    }
body {
	font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	overflow-x: hidden;
}

body,html {
  height: 100%;
}
hr{
    height: 2px;
    width: 50%;
    color: #404040;
    background: #404040;
    font-size: 0;
    border: 0;
}

/*Home*/

#home {
  width:100%;
  height:100%;
  background: url(../img/Background_Home.jpg) no-repeat center center fixed ;
  background-size: cover;
  background-position:center;
  position: relative;
}
.logo{
    position: absolute;
	width: 100%;
	top: 13%;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%); 
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
}
.logo .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
/*Navigation*/
.navbar-default{
    background: none;
    border: none;
    width: 100%;
    position: absolute;
    bottom: 30px;
}
.navbar-nav a{
    border: 1px solid #fff;
    min-width: 130px;
    text-align: center;
    font-family: 'Bebas Neue Regular', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.icon-bar{
    color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #6c6c6c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;    
}
.navbar-fixed-top{
    position:fixed;
}
.navbar-toggle {
    border-radius: 0px;
    border: #6c6c6c 1px solid !important;
}
/*About me*/
#aboutMe {
    text-align: center;
    padding-bottom: 50px;
}
#aboutMe h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
#aboutMe .information {
    margin-bottom: 50px;
}
#aboutMe .iKnow {
    border: 1px solid black;
    border-radius: 5px;
}
#aboutMe .iKnow i {
    margin-top: 30px;
}
#aboutMe .iKnow h3 {
    
}
#aboutMe .iKnow p {
    
}

/*Image gallery*/
/*Media*/

@media (max-width: 992px) {
#aboutMe .iKnow {
    margin: 20px;
}

}
@media (max-width: 768px) {
.logo .img-responsive {
   padding-left: 20px;
   padding-right: 20px;
    }
    #home{
        height: 100%;
    }
}

}
