@charset "utf-8"; 
@font-face {
      font-family: "Bebas Neue Light";
      src: url("../fonts/bebas_neue/BebasNeueLight.otf")
    }
@font-face {
      font-family: "Bebas Neue Regular";
      src: url("../fonts/bebas_neue/BebasNeueRegular.otf")
    }
@font-face {
      font-family: "Aleo regular";
      src: url("../fonts/aleo/Aleo-Regular.otf")
    }
@font-face {
      font-family: "Aleo light italic";
      src: url("../fonts/aleo/Aleo-LightItalic.otf")
    }
@font-face {
      font-family: "Aleo light";
      src: url("../fonts/aleo/Aleo-Light.otf")
    }
@font-face {
      font-family: "Bedini";
      src: url("../fonts/bedini/bedinibolditalic.ttf")
    }

body {
	font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	overflow-x: hidden;
    background: url(../img/background.png);
}

body,html {
  height: 100%;
}
hr{
    height: 2px;
    width: 50%;
    color: #404040;
    background: #404040;
    font-size: 0;
    border: 0;
    margin-bottom: 50px;
}
h2 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: "Aleo regular", sans-serif;
    font-size: 3.5em;
    color: #412e2e;
    margin-right: 8px;
}
p{
    font-family: "Aleo light italic", sans-serif;
    font-size: 1.5em;
    color: #898989;
}
.break{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(to right, rgba(93, 93, 93, 0), rgba(93, 93, 93, 0.75), rgba(93, 93, 93, 0)); 
}
 hr {
    width: 80px;
    color: #5d5d5d;
    background: rgb(93, 93, 93);
    margin-top: 0px;
}
.col-lg-4, .col-md-4, .col-xs-6{
    padding: 10px;
}

/*Home*/

#home {
  width:100%;
  height:100%;
  background: url(../img/background_Home.jpg) no-repeat center center fixed ;
  background-size: cover;
  background-position:center;
  position: relative;
  min-height: 300px;
}
.logo{
    position: absolute;
	width: 100%;
	bottom: 8%;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%); 
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
}
.logo .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.arrow{
    font-weight: 100;
    color: white;
}

/*Navigation*/

.navbar-default{
    background: none;
    border: none;
    width: 100%;
    position: absolute;
    bottom: 40px;
}
.navbar-nav a {
    border: 1px solid #fff;
    min-width: 130px;
    font-family: 'Bebas Neue Light', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.icon-bar{
    color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #6c6c6c;
}
.navbar-nav a:hover,
.navbar-nav a:focus {
    background-color: #ffffff;    
}
.navbar-fixed-top{
    position: fixed;
    max-height: 80px;
}
.navbar-toggle {
    border-radius: 0px;
    border: #6c6c6c 1px solid !important;
}
.nav {
transition-duration: 2s;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}
.navbar-default .navbar-nav>.active>a{
    color: white;
    background: none;
}
.navbar-default .navbar-nav>.active>a:focus{
    color: white;
    background: transparent;
}
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}
    
/*About me*/

#aboutMe {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 70px;
    padding-bottom: 100px
}
#aboutMe .information{
    font-family: "Aleo light", sans-serif;
    margin-top: 90px;
    text-align: left;
}

/*Image gallery*/

#portfolio {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 50px;
}
#portfolio img { 
box-shadow: 0px 9px 6px 0px rgba(153, 153, 153, 0.95);
-moz-box-shadow: 0px 9px 6px 0px rgba(153, 153, 153, 0.95);
-webkit-box-shadow: 0px 9px 6px 0px rgba(153, 153, 153, 0.95);
    border: solid 10px white;

}
#portfolio .more {
    display: none;
}
#portfolio #loadMore {
    margin-top: 40px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px rgb(198, 198, 198) solid;
    background: white;
    display: inline-flex;
    text-decoration: none;
    font-family: 'Bebas Neue Regular', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color: #a7a7a7;
}
#portfolio #loadMore:hover {
    color: #cecece;
}
/*Skills*/

#skills {
    padding-top: 50px;
    margin-top: 100px;
    text-align: center;
    background: url(../img/Skills/Bachground_skills.png);
    padding-bottom: 100px;
}
#skills img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#skills .row {
    padding-top: 10px;
}
#skills .photoshop {
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    float: right;
    width: 300px;
}
#skills .illustrator {
    width: 300px;
}
#skills .lightroom {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    float: right;
    width: 300px;
}
#skills .marketing {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    float: left;
    width: 300px;
}
#skills .psychology {
    width: 300px;
}
#skills .inDesign {
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    float: left;
    width: 300px;
}
/*Contact*/

#contact {
    text-align: center;
    background: url(../img/Skills/Bachground_skills.png);
}
#contact .contact-background  {
    width: 100%;
}
#contact .container-fluid{
    background-color: #9ec9d4;
    margin-top: -3px;
    padding-bottom: 100px;
}
#contact h2{
    margin-top: 170px;
    font-family: "Bedini", sans-serif;
    color: white;
    font-size: 7em;
}
#contact .text-under {
    font-family: "Bedini", sans-serif;
    color: white;
    font-size: 6.5em;
    margin-top: -40px;
    line-height: 150px;
}
#contact .contact-way{
    font-family: "Aleo Light", sans-serif;
    color: #3f7b90;
}
#contact a {
        text-decoration: none;
}
/*Footer*/
#footer{
    background: #3f7b90;
}
#footer .container {
    padding-top: 20px;
    text-align: center;
}
#footer img {
    margin-left: 10px;
    margin-right: 10px;
}
/*Media*/

@media (max-width: 992px) {
#aboutMe .iKnow {
    margin: 20px;
}
#aboutMe .information{
    margin-top: 20px;
}
}
@media (max-width: 768px) {
.logo .img-responsive {
   padding-left: 20px;
   padding-right: 20px;
    }
    #home{
        height: 100%;
    }
    .navbar-nav a{
    border: none;
    min-width: 0px;
    font-family: 'Aleo light', sans-serif;
    letter-spacing: 0px;
}
    .navbar .navbar-nav {
    width: 100%;
}
    .navbar-collapse{
    background:  rgba(65, 46, 46, 0.9) ; 
    }
    .navbar-default .navbar-nav > li > a {
    margin-right: -30px;
}
}

