@charset "utf-8"; 

body {
	font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	overflow-x: hidden;
}

body,html {
  height: 100%;
}
hr{
    height: 2px;
    width: 50%;
    color: #404040;
    background: #404040;
    font-size: 0;
    border: 0;
}

/*Home*/

#home {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image: url(../img/Background_Home.jpg);
  background-size:cover;
  background-position:center;
  position: relative;
    min-height: 600px;
}
.logo {
 	position: absolute;
	width: 100%;
	top: 30%;
	left: 0;
}
.logo .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Navigation*/
.navbar-default{
    background: none;
    border: none;
}
.navbar-sticky{
    margin-top: -100px;
}
.navbar-default a{
    border: 2px solid #fff;
    margin: 5px; 
}
.navbar-toggle {

}

/*About me*/
#aboutMe {
    text-align: center;
    padding-bottom: 50px;
}
#aboutMe h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
#aboutMe .information {
    margin-bottom: 50px;
}
#aboutMe .iKnow {
    border: 1px solid black;
    border-radius: 5px;
}
#aboutMe .iKnow i {
    margin-top: 30px;
}
#aboutMe .iKnow h3 {
    
}
#aboutMe .iKnow p {
    
}

/*Image gallery*/
/*Media*/

@media (max-width: 992px) {
#aboutMe .iKnow {
    margin: 20px;
}

}
@media (max-width: 768px) {
.logo .img-responsive {
   padding-left: 20px;
   padding-right: 20px;
}

}
